body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    border: 2px solid red;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer{
    border: 2px solid red;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.grid-item{
    border: 5px solid #ddd;
    border-radius: 5px;
}

.grid-item img{
    display: block;
    width: 100%;
    transition: 0.3s;
}

.grid-container{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 20px;
}

.grid-item img:hover{
    transform: scale(1.05);
    display: block;
    height: 105%;
    width: 105%;
    cursor: cell;
}

.large{
    grid-column: span 2;
}

@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width: 720px) {
    .grid-container {
        grid-template-columns: repeat(2,1fr);
    }
}